
form {
    margin: 0 auto;
    width: 250px;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: xx-large;
}

#name {
    color: #ff0000;
}

button {
    border: none;
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 9px 15px;
    text-decoration: none;
    margin: 8px;
}

#greenButton {
    background-color: green;
}

#redButton {
    background-color: red;
}

#blueButton {
    background-color: blue;
}

* {
    font-family: Georgia, serif;
    text-align: center;
}

#chat {
    background-color: gray;
    float: right;
    border: black;

}

#messages {
    height: 200px;
    overflow-y: scroll;
}

#topchat {
    border-style: solid;
}

#Room {
    border-style: solid;
    border-width: thin;
    height: fit-content;
    width: fit-content;
    margin: 20px auto 0;
}

canvas {
    border-style: groove;
}

player {

}

#players-list {

}

discret {
    font-size: smaller;
}

#nochat {
    margin-right: 250px;
}

info{

}
